@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@import model.UserAccount
@(user : UserAccount)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("BidChamp", user) {

 <!-- Image card -->
 <style>
 .demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
 }
 .demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
 }
 .demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
 }

 .demo-card-wide.mdl-card {
  width: 512px;
 }
 .demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('assets/images/apple-macbook.jpg') center / cover;
 }
 .demo-card-wide > .mdl-card__menu {
  color: #fff;
 }
  .card-event.mdl-card {
   width: 100px;
   height: 100px;
   min-height: 100px;
   background: #3E4EB8;
  }
 .card-amount > .mdl-card__actions {
   border-color: rgba(255, 255, 255, 0.2);
  }
 .card-amount > .mdl-card__title {
  align-items: flex-start;
 }
 .card-amount > .mdl-card__title > h4 {
  margin-top: 0;
 }

 .card-probability > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
 }
 .card-probability > .mdl-card__title {
  align-items: flex-start;
 }
 .card-probability > .mdl-card__title > h4 {
  margin-top: 0;
 }

 .card-time > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
 }
 .card-time > .mdl-card__title {
  align-items: flex-start;
 }
 .card-time > .mdl-card__title > h4 {
  margin-top: 0;
 }


 .card-time.mdl-card {
  width: 100px;
  height: 100px;
  min-height: 100px;
  background: #3E4EB8;
 }

 .card-probability.mdl-card {
  width: 100px;
  height: 100px;
  min-height: 100px;
  background: #990cb8;
 }

 .card-amount.mdl-card {
  width: 100px;
  height: 100px;
  min-height: 100px;
  background: #30b817;
 }


 .card-amount > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
 }

 .card-probability > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
 }

 .card-time > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
 }

 .card-time > .mdl-card__title {
  align-items: flex-start;
 }

 .card-probability > .mdl-card__title {
  align-items: flex-start;
 }

 .card-amount > .mdl-card__title {
  align-items: flex-start;
 }

 .card-amount > .mdl-card__title > h4 {
  margin-top: 0;
 }

 .card-probability > .mdl-card__title > h4 {
  margin-top: 0;
 }

 .card-time > .mdl-card__title > h4 {
  margin-top: 0;
 }

 .card-time > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
 }

 .card-probability > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
 }

 .card-amount > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
 }

 .card-amount > .mdl-card__actions > .material-icons {
  padding-right: 10px;
 }

 .card-probability > .mdl-card__actions > .material-icons {
  padding-right: 10px;
 }

 .card-time > .mdl-card__actions > .material-icons {
  padding-right: 10px;
 }


 .card-amount > .mdl-card__title,
 .card-amount > .mdl-card__actions,
 .card-amount > .mdl-card__actions > .mdl-button {
  color: #fff;
 }

 .card-probability > .mdl-card__title,
 .card-probability > .mdl-card__actions,
 .card-probability > .mdl-card__actions > .mdl-button {
  color: #fff;
 }

 .card-time > .mdl-card__title,
 .card-time > .mdl-card__actions,
 .card-time > .mdl-card__actions > .mdl-button {
  color: #fff;
 }

 </style>

 <div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col">
  </div>
  <div class="mdl-cell mdl-cell--10-col">

 <div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
   <h2 class="mdl-card__title-text" id="item-name">Apple Macbook</h2>
   <h2 class="mdl-card__title-text" id="item-price">£1200</h2>
  </div>
  <div class="mdl-card__supporting-text" id="item-description">
   Test this.
  </div>
 </div>
  </div>
 </div>

 <div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col">
  </div>
  <div class="mdl-cell mdl-cell--2-col">
   <div class="card-probability mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
     <h4 id="item-odds">
      11:00
     </h4>
    </div>
    <div class="mdl-card__actions mdl-card--border">
     <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Odds
     </a>
     <div class="mdl-layout-spacer"></div>
    </div>
   </div>
  </div>
  <div class="mdl-cell mdl-cell--2-col">
   <div class="card-time mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
     <h4 id="item-time-left">
      11:00
     </h4>
    </div>
    <div class="mdl-card__actions mdl-card--border">
     <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Time
     </a>
     <div class="mdl-layout-spacer"></div>
    </div>
   </div>
  </div>
  <div class="mdl-cell mdl-cell--2-col">
   <div class="card-amount mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
     <h4>
      10 £
     </h4>
    </div>
    <div class="mdl-card__actions mdl-card--border">
     <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Bet
     </a>
     <div class="mdl-layout-spacer"></div>
    </div>
   </div>
  </div>
  <div class="mdl-cell mdl-cell--2-col">
   <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
    <i class="material-icons">add</i>
   </button>
  </div>
  <div class="mdl-cell mdl-cell--2-col">
   </div>
 </div>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

}
